doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/global.css')
  body
    block content
    footer
       p
        a(href="#") About
        |  &bull; Created by 
        a(href="http://josheilers.com/" target="_blank") Josh Eilers
