@font-face {
  font-family: Limelight-Regular;
  src: url('/fonts/Limelight-Regular.ttf');
}

body {
  padding: 0.5rem;
  background-color: #151618;
  color: #CFB53B;
  font-family: Limelight-Regular;
}

a {
  display: block;
}
.title-rule {
  display: inline-block;
  width: 13rem;
  margin: 0.25rem 0.5rem;
  border-top: 1px solid #e5e5e5;
  border-color: #CFB53B;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.film-image {
  width: 10rem;
}

/*small breakpoint*/
@media only screen and (min-width : 480px) {

}

/*medium breakpoint*/
@media only screen and (min-width : 768px) {

}

/*large breakpoint*/
@media only screen and (min-width : 992px) {

}

/*extra large breakpoint*/
@media only screen and (min-width : 1200px) {

}
